/**
 * Colors:
 * Red   - #df0000
 * Black - #000507
 */

/* Overall window */

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background: #eee;
  color: rgba(0, 5, 7, 0.9);
  font-size: 100%;
}

/* Book page */

.page {
  background: url(images/paper.gif);
  box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.35);
  margin: 2em auto 4em;
  padding: 8em;
  width: 44em;
}