/**
 * Colors:
 * Red   - #e53635
 * Gold  - #816e5d
 * Black - #353939
 */

/* Overall document and type */

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background: #bbb;
  color: #353939;
  font: normal 400 125%/1.1 "herb", cursive;
}

h1 {
  font-family: "givry", cursive;
  font-weight: 400;
}

.credits {
  font-family: "felt-tip-roman", cursive;
}

/* Book page and layout */

.page {
  background: url(images/paper.gif);
  -moz-box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.35);
  box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.35);
  margin: 2em auto 4em;
  padding: 6em 6em 5em;
  width: 38em;
}

.content {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
  column-gap: 2em;
}

.page h1 {
  font-size: 2.5em;
  margin: 0 0 0.5em;
}

.page p {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin: 0;
  text-align: justify;
}

/* Rubrication of headlines and first letters */

.page h1 {
  color: #e53635;
  text-shadow: 1px 1px 0 #353939;
}

.page p:first-letter {
  background: url(images/rubrication.png) no-repeat center center;
  background-size: contain;
  color: #e53635;
  float: left;
  font: normal 400 6em/1 "givry", cursive;
  padding-right: 0.1em;
  text-align: center;
  text-shadow: 1px 1px 0 #353939;
  width: 0.75em;
}

.page p:first-line {
  color: #e53635;
}

/* Credits */

.credits {
  color: #816e5d;
  margin: 1em 0 0;
  -webkit-transform: rotate(2deg);
}

.credits a {
  color: #816e5d;
  text-decoration: none;
}

.credits a:hover {
  text-decoration: underline;
}

.credits dt {
  display: inline;
}

.credits dt:after {
  content: " — ";
}

.credits dd {
  display: inline;
  margin: 0;
}

.credits dd:after {
  content: " — ";
}

.credits dd:last-of-type:after {
  content: "";
}
