/**
 * Colors:
 * Red   - #df0000
 * Black - #000507
 */

/* Overall document and type */

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background: #eee;
  color: #000507;
  font: normal 400 125%/1.1 "herb", cursive;
}

h1 {
  font-family: "givry", cursive;
  font-weight: 400;
}

.credits {
  font-family: "felt-tip-roman", cursive;
}

/* Book page and layout */

.page {
  background: url(images/paper.gif);
  -moz-box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.35);
  box-shadow: 0 0.5em 2em rgba(0, 0, 0, 0.35);
  margin: 2em auto 4em;
  padding: 6em;
  width: 38em;
}

.content {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

.page h1 {
  font-size: 2.5em;
  margin: 0 0 0.5em;
}

.page p {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  margin: 0;
  text-align: justify;
}
