/*
Colors:
  Red/pink    rgba(217, 20, 43, 0.75)     #dd434d
  Blue        rgba(45, 57, 128, 0.75)     #5d608f
  Yellow      rgba(199, 162, 12, 0.75)    #d1b03a
  Black       rgba(0, 0, 0, 0.75)         #3b342e
  Paper                                   #e9cdb2
*/

/* Overall page and typography */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: url(images/paper.jpg) repeat top center;
  background-size: contain;
  color: #3b342e;
  color: rgba(0, 0, 0, 0.75);
  font: 400 normal 187.5%/1.5 "goudy-bookletter-1911", serif;
  text-align: center;
}

.poster {
  margin: 2em;
}

strong {
  display: block;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
}

h1 {
  font-size: 100%;
}

.regular {
  font-family: "poplar-std", serif;
  line-height: 0.8;
  position: relative;
  top: 0.05em;
}

.wide {
  font-family: "hellenic-wide", sans-serif;
}

.condensed {
  font-family: "french-clarendon-ornamented", serif;
  line-height: 0.75;
  position: relative;
  top: 0.1em;
}

.chroma {
  font-family: "delittle-chromatic";
  position: relative;
}

.chroma:before {
  color: #999;
  content: attr(data-content);
  display: block;
  font-family: "delittle-chromatic-inlay";
  position: absolute;
  text-shadow: none;
  top: 0.065em;
  width: 100%;
}

.punc {
  display: none;
}

.misprint {
  position: relative;
  text-shadow: none;
}

.misprint:before {
  color: rgba(0, 0, 0, 0.2);
  content: attr(data-content);
  display: block;
  left: 0;
  position: absolute;
  text-shadow: none;
  top: -0.2em;
  -moz-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

strong .misprint:before {
  color: rgba(217, 20, 43, 0.2);
  top: 0.2em;
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}

/* Layout */

h1, p {
  border-bottom: 1px solid #999;
  margin: 0 0 1em;
  padding: 0 0 1em;
}

p:last-of-type {
  border: 0;
}

.para2 {
  overflow: hidden;
}

.para2 .block1,
.para2 .block2,
.para2 .block3 {
  float: left;
  width: 31.3%;
}

.para2 .block1,
.para2 .block2 {
  padding: 0 3% 0 0;
}

.para2 .block1 {
  padding-top: 0.6em;
}

.para2 .block3 {
  padding-top: 0.4em;
}

/* Tweaks and full-width sizes (normalized for 1024px width) */

h1 .wide {
  font-size: 2.4em;
}

h1 .condensed {
  color: #dd434d;
  color: rgba(217, 20, 43, 0.75);
  font-size: 7.5em;
  text-shadow: 0.02em 0.04em 0 rgba(217, 20, 43, 0.2);
}

.para1 .wide {
  color: #5d608f;
  color: rgba(45, 57, 128, 0.75);
  font-size: 3.65em;
  text-shadow: 0.04em 0.04em 0 rgba(45, 57, 128, 0.2);
}

.para1 .chroma {
  font-size: 5.4em;
  margin-bottom: -0.1em;
  text-shadow: 0.06em 0.03em 0 rgba(199, 162, 12, 0.4);
}

.para1 .chroma:before {
  color: #d1b03a;
}

.para1 .regular {
  color: #dd434d;
  color: rgba(217, 20, 43, 0.75);
  font-size: 3.8em;
  text-shadow: none;
}

.para1 .regular small {
  border-bottom: 0.5em solid rgba(217, 20, 43, 0.2);
  font-size: 0.5em;
  vertical-align: top;
}

.para1 .regular .misprint:before {
  top: 0.3em;
}

.para2 .block1 .regular:first-of-type {
  font-size: 3.1em;
}

.para2 .block1 .regular {
  font-size: 2.38em;
}

.para2 .block2 .regular:first-of-type {
  font-size: 1.9em;
  margin: 0;
}

.para2 .block2 .regular {
  font-size: 2.7em;
  margin: 0 0 -0.15em;
}

.para2 .block2 .regular:last-of-type {
  font-size: 2.17em;
  margin: -0.1em 0 0;
}

.para2 .block3 .regular {
  font-size: 2em;
}

.para2 .block3 .regular:last-of-type {
  font-size: 2.2em;
}

.para3 .condensed {
  color: #5d608f;
  color: rgba(45, 57, 128, 0.75);
  font-size: 5.15em;
}

.para3 .condensed small {
  font-size: 0.5em;
  vertical-align: 47%;
}

.para3 .condensed .misprint:before {
  color: rgba(45, 57, 128, 0.2);
}

.para3 .wide {
  color: #d1b03a;
  color: rgba(199, 162, 12, 0.75);
  font-size: 2.13em;
  margin-top: -0.2em;
}

.para3 .regular {
  color: #dd434d;
  color: rgba(217, 20, 43, 0.75);
  font-size: 4.75em;
  letter-spacing: 0.05em;
  margin: 0 0 0.05em;
  text-shadow: 0.02em 0.02em 0 #e9cdb2, 0.05em 0.05em 0 rgba(217, 20, 43, 0.5);
}

.para3 .regular small:first-of-type {
  font-size: 0.55em;
  position: absolute;
  vertical-align: top;
}

.para3 .regular small {
  font-size: 0.35em;
  letter-spacing: 0;
  text-shadow: none;
}

.para3 .chroma {
  color: #5d608f;
  color: rgba(45, 57, 128, 0.75);
  font-size: 3.85em;
  margin: 0.1em 0 -0.05em;
  text-shadow: 0.04em 0.03em 0 rgba(199, 162, 12, 0.5);
}

.para3 .chroma:before {
  color: #dd434d;
  color: rgba(217, 20, 43, 0.75);
}

.para4 .wide {
  font-size: 2.35em;
  margin: -0.1em 0;
  text-shadow: 0.03em 0.06em 0 rgba(199, 162, 12, 0.75);
}

.para4 .condensed {
  color: #5d608f;
  color: rgba(45, 57, 128, 0.75);
  font-size: 7.2em;
  text-shadow: 0.02em 0.02em 0 rgba(217, 20, 43, 0.75);
}

/* Credits */

.credits {
  background: #3b342e;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.6em;
  line-height: 1.2;
  margin: 0;
  padding: 1.5em 1em 0.5em;
}

.credits dt {
  color: #dd434d;
  color: rgba(217, 20, 43, 0.75);
  margin: 0;
}

.credits dd {
  margin: 0 0 1em;
}

.credits a {
  color: #d1b03a;
  color: rgba(199, 162, 12, 0.75);
}

.credits a:hover {
  color: rgba(199, 162, 12, 1);
}
