/*
Colors:
  Dark gray     #393431
  Middle gray   #5c5958
  Light gray    #959d9f
  Rust          #b06955
  Blue/purple   #3f4e85
  White         #fff
*/

/* Overall page */

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background: #959d9f;
  color: #5c5958;
  font-size: 62.5%;
}

a {
  color: #5c5958;
}

a:hover {
  color: #393431;
}

/* Sign container and shapes */

.sign {
  background: #393431;
  border: 2em solid #3f4e85;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  box-shadow: 0 3em 5em rgba(0, 0, 0, 0.25);
  margin: 12em auto;
  height: 40em;
  position: relative;
  width: 90em;
}

.sign:before,
.sign:after {
  background: #3f4e85;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: " ";
  display: block;
  height: 20em;
  left: 25%;
  position: absolute;
  top: -10em;
  width: 50%;
}

.sign:after {
  bottom: -10em;
  top: auto;
}

.sign h1 {
  background: #393431;
  font-size: 100%;
  height: 40em;
  margin: 0;
  position: relative;
  z-index: 2;
}

.sign h1:before,
.sign h1:after {
  background: #393431;
  content: " ";
  display: block;
  height: 10em;
  left: 40em;
  position: absolute;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -5em;
  width: 10em;
}

.sign h1:after {
  bottom: -5em;
  top: auto;
}

/* Main sign heading */

.sign h1 .name {
  color: #fff;
  display: block;
  font: 400 normal 20em/1 "corner-store", cursive;
  left: -0.05em;
  position: absolute;
  text-align: center;
  text-shadow: -3px 3px 0 #393431, 0 3px 0 #393431, -3px 0 0 #393431, -4px 4px 0 #b06955, -6px 6px 0 #b06955, -8px 8px 0 #b06955;
  top: 0.4em;
  -moz-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  transform: rotate(-12deg);
  width: 100%;
}

.sign h1 .name .first-letter {
  font-size: 1.2em;
}

/* Additional sign text */

.sign h1 .welcome,
.sign h2 {
  color: #959d9f;
  font: 400 normal 7em/1 "bello-caps", sans-serif;
  position: absolute;
}

.sign h1 .welcome {
  left: 0.8em;
  top: 0.5em;
}

.sign h2 {
  bottom: 0.7em;
  font-size: 5em;
  line-height: 0.7;
  margin: 0;
  right: 1.2em;
  text-align: right;
  z-index: 3;
}

.sign h2 .line {
  display: block;
}

/* Credits */

.credits {
  font: 400 normal 2em/1.2 "bello-caps", sans-serif;
  margin: 2em 0;
  text-align: center;
}

.credits dt {
  color: #3f4e85;
  display: inline-block;
  font-family: "corner-store", cursive;
  margin: 0 0.5em 0 0;
}

.credits dd {
  display: inline-block;
  margin: 0 2em 0 0;
}

.credits dd:last-of-type {
  margin: 0;
}
