/*
Colors:
  Dark gray     #393431
  Light gray    #959d9f
  Rust          #b06955
  Blue/purple   #3f4e85
  White         #fff
*/

/* Overall page */

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background: #959d9f url(images/background.jpg) repeat top center;
  background-size: cover;
  color: #393431;
  font-size: 62.5%;
  min-height: 100%;
  min-width: 100em;
}

a {
  color: #393431;
}

a:hover {
  color: #222;
}

/* Sign container and shapes */

.sign {
  background: #000 url(images/wood.png) 4.5em 0;
  border: 1px solid #000;
  border-color: #393431 #222 #000;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  box-shadow: 0 3em 5em rgba(0, 0, 0, 0.4);
  margin: 10em auto;
  height: 44em;
  position: relative;
  width: 94em;
}

.sign h1 {
  background: #393431;
  border: 2em solid #3f4e85;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  font-size: 100%;
  height: 40em;
  margin: 0;
  -webkit-mask: url(images/wood.png) 4.5em 0;
  mask: url(images/wood.png) 4.5em 0;
  position: relative;
  z-index: 2;
}

/* Main sign heading */

.sign h1 .name {
  color: #fff;
  display: block;
  font: 400 normal 20em/1 "corner-store", cursive;
  left: -0.05em;
  position: absolute;
  text-align: center;
  text-shadow: -3px 3px 0 #393431, 0 3px 0 #393431, -3px 0 0 #393431, -4px 4px 0 #b06955, -6px 6px 0 #b06955, -8px 8px 0 #b06955;
  top: 0.4em;
  -moz-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  transform: rotate(-12deg);
  width: 100%;
}

.sign h1 .name .first-letter {
  font-size: 1.2em;
}

/* Additional sign text */

.sign h1 .welcome,
.sign h2 {
  color: #959d9f;
  font: 400 normal 7em/1 "bello-caps", sans-serif;
  position: absolute;
}

.sign h1 .welcome {
  left: 0.8em;
  top: 0.5em;
}

.sign h2 {
  bottom: 1em;
  font-size: 5em;
  line-height: 0.7;
  margin: 0;
  -webkit-mask: url(images/wood.png) -9.32em -6em;
  mask: url(images/wood.png) -9.32em -6em;
  right: 1.2em;
  text-align: right;
  z-index: 3;
}

.sign h2 .line {
  display: block;
}

/* Credits */

.credits {
  font: 400 normal 2em/1.2 "bello-caps", sans-serif;
  margin: 2em 0;
  text-align: center;
}

.credits dt {
  color: #3f4e85;
  font-family: "corner-store", cursive;
  margin: 0;
}

.credits dd {
  margin: 0 0 1em;
}
