/*
Colors:
  Orange        #ff4f00
  Mid orange    #d20000
  Blue          #00a3b0
  Dark blue     #003143
*/

/* Overall Page */

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background: #00a3b0 url(images/background.jpg) no-repeat top center;
  background-size: cover;
  font-size: 62.5%;
  min-height: 100%;
  position: relative;
}

/* Headings */

.heading {
  color: #fff;
}

/* Main heading */

.heading h1 {
  font: 400 normal 10em/0.8 "abril-fatface", serif;
  margin: 0;
  padding: 0.5em 0 0.25em 5%;
  text-shadow: 1px 1px 0 #00a3b0, 2px 2px 1px #00a3b0;
  text-transform: uppercase;
  white-space: nowrap;
}

.heading h1 .word1 {
  display: block;
  font-size: 1.28em;
}

.heading h1 .ampersand {
  color: #ff4f00;
  font-size: 0.9em;
  margin-left: 0.6em;
  text-shadow: 1px 1px 1px #dd0800, 2px 2px 1px #dd0800;
  vertical-align: top;
}

/* Sub heading */

.heading h2 {
  border-top: 2px solid #fff;
  font: 600 italic 3.6em/1.2 "abril-display", serif;
  margin: 0 40% 0 5%;
  padding: 0.4em 0;
  text-align: center;
  text-shadow: 1px 1px 0 #00a3b0;
}

/* Text and credits */

.text,
.credits {
  color: #fff;
  font: 300 normal 1.8em/1.35 "freight-sans-pro", sans-serif;
}

.text {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
  margin: 0 40% 2em 5%;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.text p {
  margin: 0;
}

.text p + p {
  text-indent: 1.5em;
}

.credits {
  background: rgba(255, 255, 255, 0.75);
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  bottom: 0;
  color: #666;
  font-size: 1.4em;
  line-height: 1.2;
  margin: 0;
  max-width: 30%;
  padding: 0.8em 1em 0.3em;
  position: absolute;
  right: 5%;
}

.credits dt {
  color: #ff4f00;
  font-style: normal;
  float: left;
}

.credits dd {
  margin: 0 0 0.5em 3.2em;
}

.credits a {
  color: #666;
}

/* 1024px breakpoint */
@media screen and (max-width: 1024px) {

  html {
    background-image: none;
  }

  .heading {
    background: url(images/background.jpg) no-repeat top center;
    background-size: cover;
    border-bottom: 2px solid #fff;
    min-height: 500px;
  }

  .heading h2 {
    border-top: 0;
    margin: 0 5%;
    padding-bottom: 1em;
    text-align: left;
    text-shadow: 1px 1px 0 #003143;
  }

  .text {
    margin: 1em 5% 2em;
  }

  .credits {
    background: #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 1em 5%;
    position: static;
    max-width: none;
  }

}

/* 640px breakpoint */
@media screen and (max-width: 640px) {

  .heading {
    background: #003143;
    border-bottom: 0;
    min-height: 0;
  }

  .heading h1 {
    background: url(images/background.jpg) no-repeat top center;
    background-size: cover;
    border-bottom: 2px solid #fff;
    min-height: 300px;
  }

  .heading h2 {
    font-size: 2.6em;
    padding: 1em 0;
  }

  .text {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

}
