/*
Colors:
  Brown         #87776f
  Orange        #ff4f00
  Dark orange   #670000
  Blue          #00a3b0
  Dark blue     #003143
*/

/* Overall Page */

html {
  background: #87776f url(images/background.jpg) no-repeat top center;
  background-size: 100% auto;
  min-height: 100%;
  position: relative;
}

/* Headings */

.heading {
  color: #fff;
}

/* Main heading */

.heading h1 {
  font: 400 normal 100px/0.8 "abril-fatface", serif;
  margin: 0.5em 0 0.25em 5%;
  text-shadow: 1px 1px 0 #003143, 2px 2px 1px #003143;
  text-transform: uppercase;
  white-space: nowrap;
}

.heading h1 .word1 {
  display: block;
  font-size: 128px;
}

.heading h1 .word2 {
  color: #ff4f00;
  font-size: 75px;
  margin-left: 0.9em;
  text-shadow: 1px 1px 0 #670000, 2px 2px 1px #670000;
  vertical-align: top;
}

/* Sub heading */

.heading h2 {
  border-top: 2px solid #fff;
  font: 600 italic 36px/1.2 "abril-display", serif;
  margin: 0 40% 0 5%;
  padding: 0.4em 0;
  text-align: center;
  text-shadow: 1px 1px 0 #003143;
}

/* Text and credits */

.text,
.credits {
  color: #fff;
  font: 300 normal 18px/1.35 "freight-sans-pro", sans-serif;
}

.text {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;
  margin: 0 40% 1em 5%;
  text-shadow: 1px 1px 0 #003143;
}

.text p {
  margin: 0;
}

.text p + p {
  text-indent: 1.5em;
}

.credits {
  background: #fff;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  bottom: 0;
  color: #666;
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  max-width: 30%;
  opacity: 0.75;
  padding: 0.8em 1em 0.3em;
  position: absolute;
  right: 5%;
}

.credits dt {
  color: #ff4f00;
  font-style: normal;
  float: left;
}

.credits dd {
  margin : 0 0 0.5em 3.2em;
}

.credits a {
  color: #666;
}